.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.full { text-align: justify; }

.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }

img.left, img.float-left { float: left; margin: 5px 10px 5px 0; }
img.right, img.float-right { float: right; margin: 5px 0 5px 10px; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strike, del { text-decoration: line-through; }

.xx-small { font-size: xx-small; }
.x-small { font-size: x-small; }
.small { font-size: small; }
.medium { font-size: medium; }
.large { font-size: large; }
.x-large { font-size: x-large; }
.xx-large { font-size: xx-large; }

.hidden { display: none; }